.header-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  text-align: center;
  background-image: url("../../assets/header-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.header-content {
  width: 600px;
  margin: 0 auto;
}

.header-content h1 {
  font-size: 48px;
  color: #fdfdfd;
  will-change: transform;
  transition: transform 450ms;
  cursor: pointer;
}

.header-content p {
  font-size: 32px;
}

.header-content button {
  margin: 25px auto 0;
}

.header-content h1:hover {
  transition: transform 125ms;
  transform: translateY(-10px);
  font-weight: bolder;
}
