.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgb(80, 80, 80);
  height: 50px;
}

.navbar-myname {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-socials-container {
  display: flex;
  align-items: center;
}

.navbar-socials-button {
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}
