.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fffff7;
  height: 50px;
}

.navbar-myname {
  color: #0e7bd3;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
  will-change: transform;
  transition: transform 450ms;
}

.navbar-socials-container {
  display: flex;
  align-items: center;
}

.navbar-socials-button {
  padding: 5px 10px;
  color: #0e7bd3;
  cursor: pointer;
  font-weight: bold;
  will-change: transform;
  transition: transform 450ms;
}

.navbar-myname:hover,
.navbar-socials-button:hover {
  transition: transform 125ms;
  transform: translateY(-5px);
  font-weight: bolder;
}
