.experience h2 {
  font-size: 42px;
  margin: 25px auto;
  color: #0e7bd3;
}

.experience ul {
  margin: 0 0 10px 50px;
}

.experience li {
  font-size: 18px;
  line-height: 130%;
  margin: 15px auto;
}

.vertical-timeline::before {
  background: #b0deff !important;
}

.vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px #b0deff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05) !important;
}

.vertical-timeline-element-date {
  color: #0e7bd3;
}

/* Portrait */
@media only screen and (max-device-width: 768px) and (orientation: portrait) {
  .first-experience .vertical-timeline-element-date {
    color: #fdfdfd;
  }
}

/* Landscape */
@media only screen and (max-device-width: 768px) and (orientation: landscape) {
  .first-experience .vertical-timeline-element-date {
    color: #fdfdfd;
  }
}

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .first-experience .vertical-timeline-element-date {
    color: #fdfdfd;
  }
}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
}
